body{
  background-color: whitesmoke;
}

#taskInput {
  width: 80%;
}

.todoText, .todoCategory {
  width: 68%;
  border-radius: 5px;
  border: 1px lightgray solid;
  cursor: default;
}

#addButton {
  padding: 6px 24px;
}

.todoOut {
  width: 100%;
  margin: auto;
}

.todoOutTextBoxes {
  display: inline-block;
  width: 100%;
}

hr {
  background-color: darkgray;
  width: 100%;
}

.deleteButton, .completeButton {
  display: block;
  width: 100%;
}

div.completed>.taskText {
  color: gray;
  text-decoration: line-through;
}