body{
  background-color: whitesmoke;
}

#taskInput {
  width: 80%;
}

.todoText, .todoCategory {
  width: 68%;
  border-radius: 5px;
  border: 1px lightgray solid;
  cursor: default;
}

#addButton {
  padding: 6px 24px;
}

.todoOut {
  width: 100%;
  margin: auto;
}

hr {
  background-color: darkgray;
  width: 100%;
}

.deleteButton, .completeButton {
  height: 100%;
  align-items: center;
  float: right;
  margin-left: .5rem;
  margin-top: .5rem;
  cursor: pointer;
}

div.completed>.taskText {
  color: gray;
  text-decoration: line-through;
}

.fa-times-circle:hover {
    color: rgb(145, 78, 78);
}

.fa-check-circle:hover {
    color: rgb(122, 151, 113);
}

.far {
  color: rgb(90, 90, 90);
}